/*styling.css*/
/*add font family, background image*/

body {
    color: #5bc0de;
    font-family: "Poppins", sans-serif;
  }
  
  .fa-map-marker-alt,
  .fa-dot-circle {
    color: #5bc0de;
  }
  
  
  .container-fluid {
    background-color: transparent;
    margin: 0;
    padding: 10px;
  }
  
  .container-fluid h1 {
    letter-spacing: 2.5px;
    
  }
  
  .container-fluid h1,
  .container-fluid p {
    text-align: center;
  }
  
  /*map*/
  #googleMap {
    width: 80%;
    height: 400px;
    margin: 10px auto;
    margin-left: 12rem;
  }
  
  /*output box*/
  #output {
    text-align: center;
    font-size: 1em;
    margin: 20px auto;
  }
  
  #mode {
    color: black;
  }

  form{
    position: absolute;
    top: 14rem auto;
  } 
  .search{
    position: absolute;
    bottom: 14rem;
    
  } 
  .search button img {
    width: 1.8rem;
    height: 1.8rem;
  }
